@font-face {
  font-family: ArialBold;
  src: url(/fonts/RobotoBold.ttf);
}
@font-face {
  font-family: ArialNarrowRegular;
  src: url(/fonts/RobotoLight.ttf);
}
@font-face {
  font-family: ArialRegular;
  src: url(/fonts/RobotoRegular.ttf);
}